/* 
    Cart
*/
#cart {
    width: 100%;
    min-height: 80vh;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.container {
    width: 90%;
    display: flex;
}
.container ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container ul .empty {
    font-size: 24px;
    list-style: none;
    padding: 20px;
}
.container .summary {
    width: 40%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.container .summary .cartInformations {
    display: flex;
    flex-direction: column;
}
#cart h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
}
#cart .bottom_line {
    width: 100%;
    align-self: center;
    height: 2px;
    background-color: #000;
}
.container .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container .buttons .backToStore i {
    margin-right: 10px;
}
.container button {
    width: 200px;
    height: 75px;
    font-size: 24px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}
.container button:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
/* ##########
    CartItem
   ##########*/
#cartItem {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    border-bottom: 1px solid black;
}
#cartItem .img {
    width: 70px;
    height: 70px;
}
#cartItem .contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-right: 4rem;
}
#cartItem .detales {
    width: 60%;
    margin-left: 50px;
}
#cartItem h3 {
    margin: 0px;
    font-size: 24px;
}
#cartItem .numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.numbers h5 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.numbers .quantity {
    display: flex;
    align-items: center;
    justify-content:left
}
.quantity .changeBox {
    display: flex;
    margin-left: 10px;
}
.changeBox .icon {
    padding: 5px;
    font-size: 24px ;
    border: none ;
    background-color: #fff;
}
#cartItem h4 {
    font-size: 24px;
    font-weight: 600;
}
#cartItem .remove {
    margin-left: 100px;
    font-size: 24px;
    font-weight: bold;
    padding: 3px;
    border-radius: 50px;
    border: 2px solid black;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}
#cartItem .remove:hover {
    color: red;
    border-color: red;
}
/*  ###########
    CheckOutMsg
    ########### */
.checkOutMsg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
}
.checkOutMsg .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 60%;
    height: 50vh;
    position: relative;
}
.checkOutMsg .heading {
    font-size: 48px;
}
.checkOutMsg p {
    font-size: 24px;
}
.checkOutMsg i {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 32px;
}
/* 
    Media Query
*/
@media only screen and (max-width: 967px) {
   
   
    #cart .container {
       flex-direction: column;
       align-items: center;
    }
    #cart .container ul {
       width: 90%;
       padding: 0;
    }
    #cart .container .summary {
       width: 90%;
       margin: 2rem 0;
    }
    #cart .summary .cartInformations,
    #cart .summary .buttons {
       flex-direction: row;
       justify-content: space-between;
    }
 }
@media only screen and (max-width: 480px) {
    #cart .container {
        width: 100%;
    }
    #cart .container ul {
        width: 100%;
    }
    #cart .container .summary{
        width: 90%;
    }
    #cart .container .summary .cartInformations h3 {
       font-size: 20px;
    }
    #cart button {
       font-size: 20px;
       height: 50px;
       margin-top: 2rem;
       width: 175px;
    }
    #cartItem {
       width: 90%;
    }
    #cartItem .img { 
       width: 50px ;
       height: 50px;
       margin-top: 10px;
    }
    #cartItem .contant {
       width: 80%;
       margin: 0;
    }
    #cartItem .contant .detales {
       margin-left: 30px;
    }
    #cartItem .contant .detales h3 {
       font-size: 18px;
       margin-bottom: 10px;
    }
    #cartItem .contant .detales .numbers h5 {
       font-size: 14px;
    }
    #cartItem .remove {
       font-size: 18px;
    }
    .checkOutMsg .content {
        width: 90%;
    }
    .checkOutMsg .content > p {
       font-size: 18px;
       text-align: center;
    }
    .checkOutMsg .content .heading {
       text-align: center;
    }
}