.footer {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    position: relative;
}
.footer p {
    color: #eee;
    font-size: 18px;
}
.footer a {
    position: absolute;
    right: 50px;
}
.footer i {
    font-size: 32px;
    color: #eee;
    cursor: pointer;
}
/* 
    Media Query
*/
@media (max-width: 480px) {
    .footer {
       flex-direction: column;
    }
    .footer p {
       font-size: 16px;
       width: 75%;
    }
    .footer a {
       position: initial;
       margin: 10px 0 20px 0;
    }
}
