#itemPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
    Top
*/
.top {
    display: flex;
    width: 80vw;
    height: 70vh;
}
.top .imageBox {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.top .img {
    width: 80%;
    height: 80%;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.7);
}
.detalesBox {
    padding-top: 5rem;
}
.detalesBox h2 {
    font-size: 40px;
}
.detalesBox h3 {
    font-size: 32px;
}
.detalesBox .select {
    display: flex;
    align-items: center;
}
.select .changeBox {
    margin-left: 20px;
}
.changeBox i {
    font-size: 32px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
}
.changeBox i:last-child{
    margin-left: 10px;
}
.detalesBox button {
    margin-top: 10rem;
    width: 200px;
    height: 75px;
    font-size: 24px;
    cursor: pointer;
    border: none;
}
/* 
    Bottom
*/
.bottom {
    display: flex;
    width: 80vw;
}
.bottom p {
    width: 80%;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
}
