#itemPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
    Top
*/
.top {
    display: flex;
    width: 80vw;
    height: 70vh;
}
.top .imageBox {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.top .img {
    width: 40vw;
    height: 80%;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.7);
}
.detalesBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.detalesBox .detale_heading {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detalesBox .detale_heading h2 {
    font-size: 32px;
    margin: 0;
}
.detalesBox .detale_heading h3 {
    font-size: 20px;
}
.detalesBox .select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 40px;
    background-color: #f1f1fa;
    margin: 50px 0 30px 0;
}
.detalesBox .select:hover,
.detalesBox button{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.select .changeBox {
    margin-left: 40px;
}
.changeBox i {
    font-size: 32px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
}
.changeBox i:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3),
    -1px -1px 2px rgb(233,233,252);
}
.detalesBox button {
    margin-top: 2rem;
    width: 80%;
    border-radius: 40px;
    background-color: #f1f1fa;
    height: 75px;
    font-size: 24px;
    letter-spacing: 4px;
    cursor: pointer;
    border: none;
}
/* 
    Bottom
*/
.bottom {
    display: flex;
    width: 80vw;
}
.bottom p {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 2px;
}
/*  ############
    Media  Query
    ############  */
@media (max-width: 967px) {
    #itemPage .top {
        width: 90vw;
        height: 50vh;
    }
    .top .img {
       width: 400px;
       height: 400px;
    }
    #itemPage .top .detalesBox{
       width: 40%;
    }
    #itemPage .top .detalesBox .detale_heading {
        flex-direction: column;
    }
    #itemPage .top .detalesBox .detale_heading h2 {
        font-size: 26px;
    }
    #itemPage .top .detalesBox .select {
        flex-direction: column;
        width: 100%;
    }
    #itemPage .top .detalesBox .select h3 {
        margin: 10px 0 0 0 ;
    }
    #itemPage .top .detalesBox .select .changeBox {
        margin: 0;
    }
}
@media (max-width: 480px) {
    #itemPage .top {
        flex-direction: column;
        width: 100%;
        margin: 50px 0;
    }
    #itemPage .top .imageBox {
       width: 100%;
       justify-content: center;
       align-items: center;
    }
    #itemPage .top .img {
       width: 300px ;
       height: 300px ;
    }
    #itemPage .top .detalesBox {
       width: 100%;
    }
    #itemPage .top .detalesBox .detale_heading {
       width: 80%;
       margin: 20px 0;
       flex-direction: row;
    }
    .detalesBox .detale_heading h2 {
       font-size: 24px;
    }
    .detalesBox .detale_heading h3 {
       font-size: 16px;
    }
    #itemPage .top .detalesBox .select {
       max-width: 80%;
       flex-direction: row;
       align-items: center;
       margin: 0;
    }
    #itemPage .top .detalesBox .select h3{
       margin: 0 50px 0 0;
    }
    .detalesBox button {
       margin-bottom: 50px;
    }
    #itemPage .bottom {
       margin-bottom: 50px;
       margin-top: 9rem ;
    }
    #itemPage .bottom > p {
       font-size: 16px;
    }
}