.Shop {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
/* 
    StoreProductsCollection
*/
.StoreProductsCollection {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 100px;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.square {
    width: 250px;
    height: 250px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    margin-top: 50px;
}
.product h4 {
    font-size: 32px;
    margin: 10px 0 0 0;
}
.product h6 {
    font-size: 16px;
    margin: 10px 0;
}
.product button {
    width: 150px;
    height: 50px;
    border: none;
    font-size: 20px;
    background-color: #E9897E;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    cursor: pointer;
    margin-bottom: 50px;
}
.product button:hover {
    background-color: #fd9a8f;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.5);
}