.Shop {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
/* 
    StoreProductsCollection
*/
.StoreProductsCollection {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 20px;
    margin: 50px 0;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.product:hover {
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5),
    -2px -2px 4px rgba(0,0,0,0.3);
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #efeffe;
}
.square {
    width: 175px;
    height: 175px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.detales {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.product h4 {
    font-size: 24px;
    font-weight: 500;
    margin: 10px;
}
.product h6 {
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
}