*{
   color: #081C15 ;
}
body {
   background-color: #ffffff ;
}
.AboutPage {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 65.2vh;
   width: 100vw;
}
@media only screen and (max-width: 480px) {
   .AboutPage {
      font-size: 24px;
   }
}







